<p-toast />
<div [formGroup]="form" class="d-flex justify-content-center">
    <div class="card w-25 row m-3 p-3">
        <h2 class="text-center">Registrarse</h2>
        <div class="col-12 mb-3">
            <div class="mb-3">
                <label class="form-label" for="nombreUsuario">Nombre de Usuario</label>
                <input class="form-control" type="text" formControlName="nombreUsuario">
            </div>

            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" formControlName="email">
            </div>

            <div class="mb-3">
                <label class="form-label" for="">Contraseña</label>
                <input class="form-control" type="password" formControlName="contraseña">
            </div>

            <div>
                <label class="form-label" for="">Confirmar contraseña</label>
                <input class="form-control" type="password" >
            </div>

        </div>

        <div class="text-center">
            <button type="button" class="btn btn-danger" routerLink="/login">Cancelar</button>
            <button (click)="registarse()" class="btn btn-success ms-2">Crear Cuenta</button>
        </div>
    </div>
</div>