<h1 class="text-center">Iniciar sesión</h1>
<div [formGroup]="form" class="d-flex justify-content-center">
    <div class="card w-25 row m-3 p-3">
        <div class="col-12 mb-3">
            <div class="mb-3">
                <label class="form-label" for="nombreDeUsuario">Nombre de Usuario</label>
                <input class="form-control" type="text" formControlName="nombreUsuario">
            </div>

            <div>
                <label class="form-label" for="">Contraseña</label>
                <input class="form-control" type="text" formControlName="contraseña">
            </div>

        </div>

        <div class="text-center">
            <button routerLink="/register"  class="btn btn-primary">Registarse</button>
            <button class="btn btn-primary ms-2">Iniciar sesión</button>
        </div>
    </div>
</div>